/* Key Color Codes
beige = #f5eec2
dark green = #416a59
dark blue = #39359f
green = #73a24e
rich green #008300
light green = #a9c25d
*/

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Inter:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5eec2;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 48px 0;
}

h1 {
  text-align: left;
}

h2,
h3,
h4 {
  text-align: center;
}

.section__title {
  font-size: 48px;
}

p {
  text-align: center;
}

.no-cursor {
  cursor: none;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.green {
  color: #008300;
}

.white {
  color: white;
}

.click {
  background-color: transparent;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 3px;
  width: 0%;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* 

NAV BAR 

*/

nav {
  background-color: transparent;
}

.nav__bar {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  max-width: 500px;
}

.nav__list {
  font-size: 24px;
  font-weight: 600;
  list-style: none;
  margin: 0 8px;
  text-align: center;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: black;
  transition: color 300ms ease;
  cursor: pointer;
}

.nav__link:hover {
  color: #008300;
}

.nav__link:after {
  background-color: #008300;
  height: 4px;
}

.nav__link--contact:hover {
  color: #39359f;
}

.nav__link--contact:after {
  background-color: #39359f;
  height: 4px;
}

.lanes__list {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  left: -16px;
  opacity: 1;
  animation: open 800ms ease;
  color: #73a24e;
}

.lanes__list--link {
  color: black;
  margin: 4px 0;
}

.lanes__item:hover {
  list-style: disc;
}

.lanes {
  color: #73a24e;
}

.lanes:after {
  background-color: #73a24e;
  width: 100%;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* 

LANDING PAGE

*/

#landing {
  height: calc(100vh - (77px));
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.landing__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__title {
  font-size: 64px;
  width: 100%;
}

.section__para {
  font-size: 24px;
  margin: 12px 0;
  width: 40%;
}

/* 

MOVIES LIST PAGE

*/

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie__filter__sort {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.movie__sort,
.movie__filter {
  padding: 2px;
  margin: 0 8px;
  color: white;
  background-color: #008300;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
}

.movie__sort:focus-visible,
.movie__filter:focus-visible {
  outline: none;
}

.movie__container {
  border: 4px solid black;
  border-radius: 24px;
  padding: 32px;
  margin: 24px 0 0;
  display: flex;
}

.movie__img--wrapper {
  width: 20%;
  border-radius: 12px;
  overflow: hidden;
}

.movie__poster--img {
  width: 100%;
}

.movie__description {
  margin: 0 24px;
  width: 60%;
}

.movie__title {
  font-size: 37px;
}

.movie__year {
  font-size: 24px;
}

.movie__para {
  margin: 24px 0 0 0;
  font-size: 20px;
}

.movie__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}

.rating_and_genre {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.carlo__section {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.carlo__notes--header {
  font-size: 20px;
  margin: 0 0 12px;
}

.carlo__notes--para {
  font-size: 18px;
  margin: 0 0 20px;
}

.review__header {
  font-size: 18px;
  margin: 0 0 12px;
}

.review__para {
  font-size: 18px;
}

.skeleton {
  background-color: #c8c8c8;
}

/* 

MOVIE SKELETON 

*/

.movie {
  width: 100%;
}

.movie__skeleton {
  border: 4px solid #c8c8c8;
  border-radius: 24px;
  padding: 32px;
  margin: 24px 0 0 0;
  width: 100%;
  display: flex;
}

.movie__poster--skeleton {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  height: 300px;
}

.movie__description--skeleton {
  margin: 0 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.movie__title--skeleton {
  height: 40px;
  margin: 0 0 8px;
  width: 50%;
  align-self: center;
}

.movie__year--skeleton {
  width: 10%;
  height: 12px;
  align-self: center;
}

.movie__para--skeleton {
  margin: 12px 0 0 0;
  height: 60%;
}

.carlo__notes--skeleton {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.carlo__notes--header--skeleton {
  width: 100%;
  margin: 0 0 12px;
  height: 20px;
}

.carlo__notes--para--skeleton {
  height: 70px;
  margin: 0 0 20px;
  width: 100%;
}

.review__header--skeleton {
  height: 20px;
  margin: 0 0 12px;
  width: 100%;
}

.review__para--skeleton {
  height: 70px;
  width: 100%;
}

.anime__header--btn {
  font-size: 24px;
  color: black;
}

.anime__header--btn:hover {
  color: #008300;
}

/* 

ANIME LIST PAGE

*/

/* 

ANIME PAGE 

*/

.prev-and-next__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}

.anime {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.anime__ranking--header {
  font-size: 48px;
  border: 2px solid black;
  text-align: center;
}

.anime__info--container {
  position: relative;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.anime__info {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.anime__img--content {
  width: 30%;
  position: relative;
}

.anime__title {
  font-size: 40px;
  margin: 0 32px 0 0;
  text-align: center;
  width: 100%;
  padding: 0 0 32px;
}

.anime__reasoning {
  display: flex;
  align-items: flex-end;
  padding: 64px 0 0;
  font-size: 20px;
  margin: 0 0 32px;
}

.anime__img--wrapper {
  width: 100%;
}

.anime__img {
  transition: all 300ms ease;
  border-radius: 24px;
  overflow: hidden;
}

.anime__img--content:hover .anime__img {
  filter: blur(12px) brightness(0.4);
  opacity: 0.7;
  transform: scale(1.05);
}

.anime__img--content:hover .anime__synopsis {
  opacity: 1;
}

.anime__synopsis {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  transition: all 400ms ease;
  transform: translateY(-50%) translateX(5%);
  opacity: 0;
  width: 90%;
}

.anime__img--content:hover .open__synopsis--btn {
  opacity: 1;
}

.synopsis__btn {
  color: #008300;
  font-size: 17px;
  font-weight: 600;
  padding: 0 4px;
  margin: 0 4px;
  transition: all 300ms ease;
  opacity: 0;
  border-radius: 8px;
  border: 1px solid white;
  background-color: white;
}

.synopsis__btn:hover {
  background-color: #008300;
  border-color: black;
  color: white;
  cursor: pointer;
}

.open__synopsis--btn:hover {
  box-shadow: 4px 4px 4px #242424;
}

.full__synopsis {
  position: absolute;
  width: 300%;
  bottom: -8px;
  z-index: 10;
  background-color: #242424;
  padding: 16px;
  border-radius: 24px;
  animation: synopsisOpen 600ms ease;
}

@keyframes synopsisOpen {
  0% {
    transform: scale(0.1) translateX(-50%) translateY(30%);
  }
  100% {
    transform: scale(1);
  }
}

.full__synopsis--para {
  opacity: 1;
  transition: all 400ms 400ms ease;
}

.full__synopsis--para {
  opacity: 1;
}

.close__synopsis--btn {
  opacity: 1;
}

.close__synopsis--btn:hover {
  box-shadow: 4px 4px 4px #ffffff36;
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__container {
  padding: 48px 0 24px;
}

.footer__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 300ms ease;
}

.footer__home {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  color: #73a24e;
  font-size: 24px;
  border: 2px solid #73a24e;
  padding: 4px 4px 4px 4px;
  background-color: transparent;
  transition: all 300ms ease;
  border-radius: 8px;
}

.footer__home--btn {
  position: absolute;
  left: 50px;
  opacity: 0;
  color: #008300;
}

.footer__home:hover {
  color: #008300;
  border-color: #008300;
  padding: 4px 88px 4px 4px;
  transform: translateX(-30%);
}

.footer__home:hover .footer__home--btn {
  opacity: 1;
  transition: 300ms ease;
  transition-delay: 300ms;
}

.footer__social--links {
  display: flex;
  margin: 24px 0;
}

.footer__item {
  margin: 0 24px;
  background-color: none;
}

.footer__social--logo {
  color: white;
}

.footer__social--link {
  font-size: 28px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: 999px;
}

.footer__social--link:hover {
  border-color: none;
  animation: fillIn 300ms ease forwards;
}

.footer__social--link:hover .footer__social--logo {
  color: white;
}

.footer__copyright {
  color: white;
}

@keyframes fillIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #39359f;
    border-color: #39359f;
  }
}
